@media only screen and (min-width: 1920px) {
    .experience .experience-column{
        padding-left: 10rem;
    }
}
/* Ipad pro 8*/
@media only screen and (max-width: 1024px){
    .senoir .image {
        position: absolute;
        top: 42px;
        left: 1.5rem;
    }
    
    .senoir .image img {
        width: 100%;
    }
    .senoir .background img {
        width: 100%;
    }
    .form-client .form-client-row .image {
        position: absolute;
        top: 3.4rem;
        right: 4.5rem;
    }
}
/* Ipad & Mobi */
@media only screen and (max-width: 980px) {
    /*reset*/
    * {
        box-sizing: border-box;
    }
    body {
        overflow-x: hidden;
    }
    img {
        max-width: 100%;
    }
    /*header*/
    .navbar-collapse { position: absolute; top: 56px; background-color: white; max-width: 100%; width: 100%; left: 0px; z-index: 99999; }
    header nav {
        background-color: #000!important;
    }

    /*question section*/
    .question {
        padding-bottom: 1rem;
    }
    .question .image-question img {
        max-width: 100px;
        padding-left: 0!important;
        margin: 0 auto!important;
        display: block;
        margin-bottom: 20px!important;
        padding-top: 0!important;
    }

    .question .image-question::after {
        display:  none;
    }
    section.question .pr-5 {
        padding-right: 15px!important;
    }
    section.question .col-lg-9 .text-24 > div {
        height: 10rem;
        overflow: hidden;
        display: flex;
        vertical-align: middle;
        align-items: center;
    }
    section.question .col-lg-9 > div {
        margin-bottom: 15px;
    }
    .question .suggest strong {
        padding: 0;
        font-size: 2.5rem;
    }
    .question .suggest {
        padding: 1rem 0;
    }
    /* experience section */
    section.experience {
        padding-left: 0;
        padding-bottom: 3rem;
    }
    .icon-experience .icon-experience-icons .light-buld {
        margin: 0 auto;
        overflow: hidden;
    }
    .title-experience {
        padding: 3rem 0;
        padding-bottom: 0;
        font-size: 2.5rem!important;
    }
    .experience .experience-content {
        padding: 0;
    }
    .experience .experience-content {
        padding: 0;
        line-height: 60px;
        font-size: 30px;
    }
    .experience .experience-note {
        font-size: 30px;
    }
    .icon-experience {
        padding: 3rem 0;
    }
    .icon-experience .icon-experience-title {
        font-size: 2.5rem;
    }
    .icon-experience .icon-experience-icons {
        padding: 3rem 0;
        padding-bottom: 0;
    }
    .icon-experience-icons .icons-title {
        font-size: 1.5rem!important;
        margin: 1rem 0;
    }
    /*journey section */
    .journeys .journeys-background {
        margin-bottom: 1rem;
    }
    .journeys .journeys-background .btn-warning {
        display: block;
        margin: 0 auto;
        margin-top: 1rem;
    }
    .journeys .journeys-background .one {
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
    }
    .journeys .journeys-background .one strong {
        margin: 0 auto;
        top: 0;
        text-align: center;
        padding: 0;
        display: block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        position: unset;
    }
    .method .method-row .note {
        padding: 3rem 0;
        text-align: center;
        font-size: 1.1rem;
    }

    /*client section*/
    .customer-section .col-6 {
        margin-bottom: 1rem;
    }
}
/*Mobi*/
@media only screen and (max-width: 768px) {
    .senoir .background {
        max-width: 350px;
        max-height: 350px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .senoir .image {
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .senoir .image img {
        width:  100%;
        height: 100%;
    }
}
